.story {
	width: 75%;
	margin: 0 auto;
	box-shadow: 0 3rem 6rem rgba($color-black, .1);
	border-radius: 3px;
	background-color: rgba($color-white, .6);
	padding: 6rem;
	@include clearfix;
	padding-left: 9rem;
	transform: skewX(-12deg);

	&__shape {
		width: 15rem;
		height: 15rem;
		float: left;
		shape-outside: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
		transform: translateX(-3rem) skewX(12deg);
		position: relative;
	}

	&__image {
		height: 100%;
		transform: translateX(-4rem) scale(1.4);
		transition: all .5s;
	}

	&__text {
		transform: skewX(12deg);
	}

	&__caption {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 20%);
		color: $color-white;
		text-transform: uppercase;
		// width: 100%;
		text-align: center;
		font-size: 1.7rem;
		opacity: 0;
		transition: all .5s;
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	&:hover &__caption {
		opacity: 1;
		transform: translate(-50%, -50%);
	}

	&:hover &__image {
		transform: translateX(-4rem) scale(1);
		filter: blur(3px) brightness(80%);
	}
}
